* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  max-height: fit-content;
}

.logo {
 max-height: 80px;
}

.home {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: white;
}
.hero{
  background-color: #495E57;
  color:white;
  display: flex;
  justify-content:space-between;
  flex-flow: row wrap;
}
.hero div {
  margin:10px;
  text-align: left;
  flex: 2 1 35%;
  
}
.hero div:nth-child(2) {
  flex: 1 1 auto;
  text-align: center;
  position: relative;
  top: 3rem;
  
}
.hero h1{
  color:#F4CE14;
}
.hero img{
  max-width:15em;
  border-radius: 16px;
  
}
.button {
  background-color:#F4CE14;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 16px;
  margin: 10px 0px;
  cursor: pointer;
}



.highlights {
  background-color: white;
  flex: 1 1 auto;
}

.testimonials {
  flex: 1 1 auto;
  background-color: lightgrey;
}
.about {
  flex: 1 1 auto;
  background-color: #F4CE14;
}


.footer {
  background-color: #495E57;
}
.footer-nav .nav-item{
  font-size: small;
  color: white;
}


.booking {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.booking form {
  font-size: large;
  padding: 2rem;
  display: grid;
  max-width: 200px;
  gap: 20px;
}


@media (max-width: 440px){
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh; 
    text-align: center;
    background-color: #F4CE14;
  }
  .nav{
    display: flex;
    flex-direction: column;
    height: max-content;
    
  }
  /*add some code here to make into a hamburger menu*/
  .nav-item {
    margin: 10px;
    text-decoration: none;
    color: #495E57;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  .hero div:nth-child(2) {
  flex: 1 1 auto;
  text-align: center;
  position: static;  
}
}

@media (min-width: 440px) {
  .container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh; 
    text-align: center;
    background-color: #F4CE14;
  }
  .nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .nav-item {
    margin: 10px;
    text-decoration: none;
    color: #495E57;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
}