* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh; 
  text-align: center;
  background-color: #F4CE14;
}

.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.logo {
 max-height: 80px;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.nav a {
  margin: 10px;
  text-decoration: none;
  color: #495E57;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.home {
  flex: 1 1 auto;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: white;
}
.hero{
  background-color: #495E57;
  flex: 1 1 auto;
}

.highlights {
  background-color: white;
  flex: 1 1 auto;
}

.testimonials {
  flex: 1 1 auto;
  background-color: lightgrey;
}
.about {
  flex: 1 1 auto;
  background-color: #F4CE14;
}


.footer {
  text-align: center;
  background-color: #495E57;
  color: white;
}



/* 
.container {
  display: grid;
  max-width: 100%;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: auto  1fr  auto;
  grid-template-areas: "header" "main" "footer";
}

@media (min-width: 440px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main" "footer";
  }
} */

